nbproject/
test.php
core/config/common.config.php
plugins
sftp-config.json
.project
.DS_Store
Thumbs.db
*.php~
docs/_site/
docs/Gemfile.lock
docs/.sass-cache/
.remote-sync.json
img_readme/*
core/class/.htaccess
