on:
  # Workflows check plugin Jeedom
  push:
    branches:
      - beta
  pull_request:
    branches:
      - beta
      - master
      
name : 'Test Plugin Jeedom'

jobs:
  plugin:
    uses: jeedom/workflows/.github/workflows/plugin.yml@main
